
@import "../mixins/media";

header {
  width: 220Px;
  background-color: red;

  @include tablets {
    width: 500px;
  }
}

.garanty {
  fill: transparent;
}

.parag {
  font-size: 30px;
  width: 300px;
  margin-left: 50px;
}
